body {
    background-color: #1f2f3f;
    height: 100vh;
    width: 100%;
    margin: 0px;
}

.header {
    height: 100px;
    background: linear-gradient(to right, #D88424, #2384B8);
}
.header:before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: calc(100% - 100px);
    mask-image: linear-gradient(to bottom, transparent, black);
    background: linear-gradient(to right, #BD3A43, #2BBB6E);
    z-index: 0;
}
.header-gradient h1 {
    height: 100%;
    background: none;
    font-size: 72px;
    color: #fff;
    padding: 8px;
    padding-left: 15px;
    font-family: "Segoe UI";
    mix-blend-mode: lighten;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    margin: 15px;
}

.add-button {
    --height: 80px;
    background-color: limegreen;
    border: none;
    position: fixed;
    height: var(--height);
    width: var(--height);
    bottom: calc(10px + var(--height) + 10px);
    right: 10px;
    font-size: 85px;
    font-family: "Segoe UI", monospace;
    color: #fff;
    border-radius: calc(var(--height) / 2);
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 300ms ease-in-out;
}
.add-button h1 {
    font-size: 100px;
    font-family: 'Segoe UI', monospace;
    color: #fff;
    transform: translate(0px, -11px);
}
.add-button:hover {
    transform: rotate(360deg);
}

.delete-dropzone {
    --height: 80px;
    background-color: red;
    height: var(--height);
    min-width: var(--height);
    max-width: 500px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: calc(var(--height) / 2);
    text-align: center;
}

.delete-dropzone p {
    font-size: 72px;
    font-family: "Segoe UI", monospace;
    color: #fff;
}