.task-add-form {
    --bgColor: limegreen;
    position: fixed;
    top: 50%;
    right: 50%;
    margin-right: -200px;
    margin-top: -150px;
}

.task-edit-form {
    --bgColor: inherit;
    position: fixed;
    top: 50%;
    right: 50%;
    margin-right: -200px;
    margin-top: -150px;
}

.task-form {
    background-color: var(--bgColor);
    width: 400px;
    height: 305px;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Segoe UI', monospace;
    color: #fff;
}

.task-form h2 {
    all: unset;
    display: block;
    font-size: 28px;
    margin-bottom: 0px;
}
.task-form label {
    all: unset;
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}
.task-form input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    margin-right: 15px;
    border: none;
    border-radius: 5px;
    background-color: #1f2f3f;
    color: #fff;
    padding: 5px;
}
.task-form textarea {
    display: block;
    width: 100%;
    height: 150px;
    margin-right: 30px;
    resize: none;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
    background-color: #1f2f3f;
    color: #fff;
    padding: 5px;
}
.task-form button {
    width: fit-content;
    min-width: 28px;
    height: 28px;
    background-color: #1f2f3f;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 14px;
    transition-duration: 300ms;
}
.task-form button:hover {
    background-color: #fff;
    color: black;
}
.close-add {
    transform: translate(375px, -28px);
}
.close-edit {
    transform: translate(375px, -35px);
}
.shift-up-edit {
    transform: translate(0px, -30px);
}
.shift-up-add {
    transform: translate(0px, -17px);
}
.done-button {
    transform: translate(0px, -5px);
}
